@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
body{
    background-image: url(../../../proyecto/public/images/mostrar.jpg);
    background-repeat: repeat;
    background-size: cover;
}