@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
body{
    background-image: url(../../../proyecto/public/images/registro.jpg);
    background-repeat: repeat;
    background-size: cover;

}
img {
    image-rendering: pixelated;
}

.login-box {

    white: 258px;

    position: absolute;

    top: 50%;

    Left: 56%;

    transform: translate(-50% -56);

    color: white;
}

.login-box hi {

    float: left;

    font-size: 49px;

    border-bottom: 6px solid #4caf50;

    margin-bottom: 58px;

    padding: 13px 0;
}

.textbox{

    width: 100%;

    overflow: hidden;

    font-size: 20px;

    padding: 8px 0;

    margin: 8px 0;

    border-bottom: 1px solid #4caf50;
}
.textbox {


    width: 26px;

    float: left;

    text-align: center;
}